@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.app {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 100px 0 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;

  &__table {
    border: 2px solid #637A9F;
    border-spacing: 0;
    border-radius: 10px;

    & th {
      background-color: #637A9F;
      color: #fff;
      padding: 5px 10px;
      font-size: px;

      &:first-child {
        border-top-left-radius: 6px;
      }

      &:last-child {
        border-top-right-radius: 6px;
      }
    }

    & tbody {
      & td {
        padding: 5px 10px;
        border: 1px solid #637A9F;
        text-align: center;
  
        & a {
          color: #637A9F;
          text-decoration: none;
        }
  
        & input {
          box-shadow: none;
          border-radius: 5px;
          max-width: 38px;
          text-align: center;
          padding: 0;
        }

        & button {
          min-width: 56px;
          background: #637A9F;
          border: 1px solid #637A9F;
          border-radius: 5px;
          color: #fff;
          cursor: pointer;
        }
      }

      & tr:nth-child(4) {
        max-width: 63px;
      }

      & tr:last-child td:first-child {
        border-bottom-left-radius: 6px; 
      }

      & tr:last-child td:last-child {
        border-bottom-right-radius: 6px; 
      }

      & tr {
        background-color: #fff;
      }
      
    }
  }
}

.notification {
  position: absolute;
  bottom: 50px;
  right: 50px;
  padding: 15px 20px;
  border-radius: 10px;

  &_success {
    background-color: #4CAF50;
  }

  &_error {
    background-color: #f44336;
  }
}
